---
import Button from './Button.astro';
---
<section class="grid-lg cta">
  <h2 class="h2">Let's build something great together!</h2>
  <div class="grid-sm">

    <p class="text-muted narrow">
      Thank you for visiting my page. With a background in both psychology and technology, I bring a unique mix of skills to my work as a Full Stack Developer. I’m passionate about learning and thrive in team environments. I look forward to connecting and exploring opportunities to collaborate. Feel free to reach out via LinkedIn or GitHub.
    </p>

  </div>
  <div class="grid-sm">
    <Button text="Back to top" link="#" style="secondary"/>
  </div>
</section>
