---
import Button from './Button.astro';
---
<header class="grid-lg">
  <div class="grid-sm">
    <h1 class="h1">Bradley Rodriguez</h1>
    <p class="text-muted narrow">
      Hello! I'm Bradley Rodriguez, a driven and versatile individual currently pursuing my passion for technology at Holberton Coding School. With a strong foundation in psychology from Inter Fajardo, I bring a unique blend of analytical thinking and empathy to every project I undertake.
    </p>
  </div>
</header>
